.Transiton-enter {
  opacity: 0;
  transform: scale(.9);
}

.Transiton-enter.Transiton-enter-active {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 100ms ease-in,
    transform 100ms ease-in;
}

.Transiton-leave {
  opacity: 1;
  transform: scale(1);
}

.Transiton-leave.Transiton-leave-active {
  opacity: 0;
  transform: scale(.9);
  transition:
    opacity 100ms ease-in,
    transform 100ms ease-in;
}