<Motion
  defaultStyle={{scale: 0.9, opacity: 0}}
  style={{
    scale: spring(isOpen ? 1 : 0.9, springConfig),
    opacity: spring(isOpen ? 1 : 0, springConfig),
  }}
>
  { ({opacity, scale}) =>
    <div
      className="DropDown__Content"
      style={{
        opacity,
        transform: `scale(${scale})`,
        visibility: opacity ? 'visible' : 'hidden'
      }}>
      {this.props.children}
    </div>
  }
</Motion>