getStyles = (prevStyles) => {
  return this.props.dataList.map((data, index) => ({
    data,
    key: data.key,
    style:  {
      opacity: spring(1, springConfig),
      scale: spring(1, springConfig),
    },
  }))
}

render () {
  return (
    <div className="List3">
      <TransitionMotion
        styles={ this.getStyles }
        willEnter={ willEnter }
        willLeave={ willLeave }
      >
      { (interpolatedStyles) =>
          <div>
            { interpolatedStyles.map(
              ({data, style, key}) =>
                <ListItem
                  {...data}
                  style={{
                    opacity: style.opacity,
                    transform: `scale(${style.scale})`,
                  }}
                />
            )}
          </div>
      }
      </TransitionMotion>
    </div>
  )
}