componentWillReceiveProps(nextProps) {
  if(this.props.index !== nextProps.index) {
    const el = this.refs.root
    const indexMove = this.props.index - nextProps.index
    const reverseY = ListItemHeight * indexMove
    el.animate([
      {transform: `translateY(${reverseY}px)`},
      {transform: 'translateY(0)'},
    ], {
      duration: 300,
      ease: 'ease-in',
    })
  }
}

componentWillEnter (done) {
  const el = this.refs.root

  const animation = el.animate([
    {opacity: 0, transform: 'scale(0.3)'},
    {opacity: 1, transform: 'scale(1)'},
  ], {
    duration: 300,
  })
  animation.onfinish = done
}

componentWillLeave (done) {
  const el = this.refs.root

  const animation = el.animate([
    {opacity: 1, transform: 'scale(1)'},
    {opacity: 0, transform: 'scale(0.3)'},
  ], {
    duration: 300,
  })
  animation.onfinish = done
}

